<td id="board-space-{{id}}" data-id="{{id}}" class="board-space{{#if bonus}} bonus-{{bonus}}{{/if}}" data-row="{{row}}" data-column="{{column}}">
  <input maxlength="1" type="text" placeholder="{{bonus}}"/ >
</td>
